# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
appid.json
# Virtual environments
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 版权字体文件
# Copyright-protected fonts
src/fonts/*.ttf
src/fonts/*.otf
src/fonts/*.ttc
src/fonts/*.woff
src/fonts/*.woff2

# Database
*.db

# SU
plugins/su_register/
plugins/feisheng/